.container{
    margin: 0 auto;
    background-color: grey;
    padding: 20px;
    width: 700px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h1{
    color: rgb(245, 245, 4);
}
input{
    height:40px ;
}
select{
    height: 40px;
}

button{
    background-color: rgba(235, 235, 8, 0.625);
}